html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
}

.contenedor{
    margin: 0 auto;
    max-width: 120rem;
}

.header {
    background-color: red;
}

.barra {
    display: flex;
    justify-content: space-around;
}

.barra  ul {
    list-style: none;
    
}
.barra  ul a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    
}